# node env ('production' or 'development')
NODE_ENV="development"

# database
SEQUELIZE_DB_HOST="localhost"
SEQUELIZE_DB_PORT="3306"
SEQUELIZE_DB_NAME="your_database"
SEQUELIZE_DB_USER="your_username"
SEQUELIZE_DB_PASS="your_password"

# discord bot
DISCORD_BOT_TOKEN="your_discord_bot_token"
DISCORD_GUILD_ID="your_discord_guild_id"
DISCORD_CHANNEL_ID_FORUM="your_discord_channel_id_forum"
